* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.container {
    display: flex;
    height: 100vh;
}
.left {
    width: 50%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.left .icon-circle {
    width: 100px;
    height: 100px;
    background-color: #4CAF50;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.left .icon-circle img {
    width: 95px;
}

.right {
    width: 50%;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-box {
    width: 80%;
    max-width: 300px;
    background: white;
    padding: 25px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.logo {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%; /* Makes it round */
    margin-bottom: 15px;
}

.form-title {
    margin-bottom: 15px;
}
input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.password-wrapper {
    position: relative;
}
.password-wrapper input {
    padding-right: 40px;
}
.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
button {
    width: 100%;
    background-color: goldenrod;
    border: none;
    padding: 10px;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: rgba(218, 165, 32, 0.781);
}
